*{
    margin: 0px;
    padding: 0px;
}
.banner-photo{
    width: 635px;
    height: 800px;
    padding: 50px 50px 0px 0px;
    
}
.flower-banner{
    display: flex;
    justify-content: space-around;
    width: 1920px;
    height: 850px;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}  
h1{
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    flex-direction: column;
    display: flex;
    width: 710px;
    height: 250px;   
    padding: 10px 2px 50px 0px;
}
p{
    display: flex;
    width: 620px;
    height: 110px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 300px;
    line-height: 30px;
}
.button{
    display: inline-flex;
    padding: 20px 43px ;
    align-items: flex-start;
    gap: 10px;
    background: #E55473;
    border-radius: 8px;
}