*{
    margin: 0px;
    padding: 0px;
}
.banner-photo{
    width: 635px;
    height: 800px;
    padding: 50px 50px 0px 0px;
    
}
.flower-banner{
    display: flex;
    justify-content: space-around;
    width: 1920px;
    height: 850px;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}  
h1{
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    flex-direction: column;
    display: flex;
    width: 710px;
    height: 250px;   
    padding: 10px 2px 50px 0px;
}
p{
    display: flex;
    width: 620px;
    height: 110px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 300px;
    line-height: 30px;
}
.button{
    display: inline-flex;
    padding: 20px 43px ;
    align-items: flex-start;
    gap: 10px;
    background: #E55473;
    border-radius: 8px;
}
.featured-sec{
    background-color: #fff;
    text-align: center;
    align-items: center;
    padding: 40px;
}
.featured{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.para{
    display: flex;
    width: 594px;
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 10px;
    padding: 0px 0px 0px 590px;
}
.flowers-item{
    display: flex;
    justify-content: space-around;
    padding: 14px 50px 180px 0px;
}
.flowers-item1{
    width: 370px;
    height: 370px;
    padding: 5px;
}
.flowers-item2{
    width: 370px;
    height: 370px;
    padding: 0px 0px 0px 100px;
}
.flowers-item3{
    width: 370px;
    height: 370px;
    padding: 2px 509px 100px 120px;
}

.list-item{
    padding: 30px;
    list-style: none;
    margin: auto;
    text-align: center;
}
.background-border1{
    width: 464px;
    height: 538px;
    border-radius: 300px 330px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.background-border2{
    width: 468px;
    height: 545px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15)
}
.background-border3{
    width: 468;
    height: 545px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.img1{
    padding: 110px;
}
.img2{
    padding: 100px;
    
}

.Hot-flower-banner{
    display: flex;
    justify-content: space-around;
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
}
.h2h{
    color: #272727;
    font-family: ;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    flex-direction: column;
    display: flex;
    width: 537px;
    height: 48px; 
    padding: 5px 0px 0px 500px;
}
.deal-photo{
    width: 318px;
    height: 420px;
    padding: 100px 429px 100px 115px;
}
.p2p{
    display: flex;
    width: 594px;
    height: 60px; 
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 5px 0px 0px 500px;
}
.btn{
    text-align: center;
    margin-left: 750px;
    display: inline-flex;
    padding: 20px 43px ;
    align-items: flex-start;
    gap: 10px;
    background: #E55473;
    border-radius: 8px;
}
.tfoots{
    background-color: #111010;
    width: 1922px;
    height: 449px;
}
.span{
    color: #E55473;
}
.h3h{
    color: #e6e4e4;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    flex-direction: column;
    display: flex;
    width: 537px;
    height: 48px; 
    padding: 5px 0px 0px 800px;
}
.p3p{
    display: flex;
    width: 594px;
    height: 60px; 
    flex-direction: column;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 25px;
    padding: 30px 0px 150px 650px;
}
.copy-tag{
    padding: 0px 0px 0px 780px;
}
.insta{
    color: #272727;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.in-main{
    font-size: 40px;
}
.in-p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    display: flex;
    width: 596px;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 5px 0px 50px 650px;
}
.pictures{
    display: flex;
    width: 342px;
    height: 390px;
    flex-direction: column;

}
.picture-1{
    display: flex;
}
.inflow-item{
    display: flex;
    justify-content: space-around;
    padding: 5px 06px 210px 5px;
}
.inflow-item1{
    width: 330px;
    height: 360px;
    padding: 0px;
}
.inflow-item2{
    width: 335px;
    height: 360px;
    padding: 0px;
}
.inflow-item3{
    width: 335px;
    height: 360px;
    padding: 100px 0px 0px 0px;
}
.inflow-item4{
    width: 335px;
    height: 360px;
    padding: 105px 0px 50px  ;
}